/* H1 */
@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');

/* TEXT */
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');


*{
  font-family: "League Spartan", sans-serif;
  scroll-behavior: smooth;
}

/* ROOT */
:root{
  --max-w: 1400px;
  --green: #134a45;
  --blue: #cfe5f3;
  --purple: #b961cd;
  --border: 1px dashed currentColor;
}

::selection{
  background-color: var(--green);
  color: var(--blue);
}

/* BODY */
body{
  background-color: var(--blue);
  color: var(--green);
}

h1, h2, h3, h4, h5, .h2{
  font-family: "Aboreto", system-ui;
}



h1{
  font-size: 4em;
  font-weight: 200;
  line-height: 70px;
}

.ImpactH1{
  font-size: 8rem;
  line-height: 100px;
}

h2{
  font-size: 2.5rem;
}

h4{
  font-weight: bold;
  font-size: 21px;
}

h5{
  font-weight: bold;
  font-size: 18px;
}

a, p, input{
  font-size: 18px;
  outline: none;
 
}


@font-face {
  font-family: 'Bricolage';
  src: url(./assets/font/BricolageGrotesque-Medium.ttf);
}

@font-face {
  font-family: 'Bricolage-text';
  src: url(./assets/font/BricolageGrotesque_24pt-Light.ttf);
}


/* HEADER */



.header__categoria--ctn{
  transform: scaleY(0);
  transform-origin: top;
}

/* HEADER HOVER */
.header__categoria--btn--hover:hover .header__categoria--ctn{
  opacity: 1;
  transform: scaleY(1);
}


/* LANDING HOME HERO */ 

.btn{
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 10px 20px 7px 20px;
  border-radius: 8px;
  transition: all .3s;
}

.btn:hover{
  opacity: .8;
}

.home--hero__gradient{
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.483), rgb(0, 0, 0));
}

.slider{
  animation: slider 20s infinite linear alternate;
}

.subFooter{
  background: linear-gradient(to top, var(--green), var(--green), var(--green), var(--green),rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}

@keyframes slider {
  0%{
    transform: translateX(0%);

  }
  100%{
    transform: translateX(-50%);
  }
  
}

/* QUIENES SOMOS */

.QuienesSomos--card{
  background: linear-gradient(to left, rgba(0, 0, 0, 0.704), rgba(0, 0, 0, 0.063)), url(https://www.dirtydogbeautyclub.com/cdn/shop/files/aussie-in-a-hammock_1707x.jpg?v=1691839783);
}


/* CATEGORIES */

.categories__btn{
  background-color: #134a450f;
}

/* RESPONSIVE */

@media screen and (max-width: 700px){
  h1{
    font-size: 2rem;
    line-height: 35px;
  }
  h2{
    font-size: 1.2rem;
  }
  h4{
    font-size: 15px;
  }
  a,p{
    font-size: 12px;
  }
  .btn{
    padding: 8px 15px 4px 15px;
  }
  
}